*{
    margin: 0;
    padding: 0;
}


.text-center{
    font-weight: 700;
    
}
.submit-area{
    margin-top: 10%;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px gray;
    padding: 5%;
}
#transaction-area{
    display: none;
}
.status{
    color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 0 20px;
}
.deposit{
    background-color: #2b8e6d;
}
.withdraw{
    background-color: coral;
}
.balance{
    background-color: #57880b;
}